---
layout: master
description: Home page for The Joely Bear Appeal
title: The Joely Bear Appeal
nav-title: Home
nav-weight: 10
---
    <!-- Carousel================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for post in site.posts %}
        <div class="item{% if forloop.index == 1 %} active{% endif %}">
          <img class="first-slide" src="{{post.cover-image}}" alt="Photo of a blood donor and a donor carer">
          <div class="container">
            <div class="carousel-caption">
              <h1>{{post.title}}</h1>
              <p>{{post.leading-text}}</p>
              <a class="btn btn-lg btn-primary" href="{{post.permalink}}" role="button">Read more</a>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- <div class="item active">
          <img class="first-slide" src="img/blooddonor.jpg" alt="Photo of a blood donor and a donor carer">
          <div class="container">
            <div class="carousel-caption">
              <h1>Save Lives This Mitzvah Day!</h1>
              <p>This Mitzvah Day, The Joely Bear Appeal would like to invite you to Give Blood and Save Lives!</p>
              <a class="btn btn-lg btn-primary" href="Mitzvah-Day-2017" role="button">Read more</a>
              <a class="btn btn-lg btn-primary" href="booking" role="button">Book your appointment</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="img/blood_donation_mum_with_daughter.jpg" alt="Photo of mother donating blood with her daughter by her side">
          <div class="container">
            <div class="carousel-caption">
              <h1>169 Rolled Up Their Sleeves for Joely Bear!</h1>
              <p>169 People came along to donate at Yavneh College in July - including 35 new donors! Click on the link below to view the photos:</p>
              <a class="btn btn-lg btn-primary" href="https://www.facebook.com/media/set/?set=a.10154786952243683.1073741841.34251068682&type=1&l=16bfd23552" role="button">Photos</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="img/shenley.jpg" alt="Photograph from our Shenley Chapen event">
          <div class="container">
            <div class="carousel-caption" >
              <h1>Joely Bear Celebrates 21st Anniversary</h1>
              <p>200 people joined us in the beautiful Shenley Chapel to celebrate our 21st birthday! Supporters enjoyed a fish and chips dinner before dancing the night away with the Joely Bear band to some all time favourites.</p>
              <a class="btn btn-lg btn-primary" href="https://www.facebook.com/media/set/?set=a.10153383383098683.1073741838.34251068682&type=1&l=79028e8612" role="button">Photos</a>
            </div>
          </div>
        </div> -->

      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-sm-4 col-lg-4">
          <img class="img-circle" src="img/donate.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Give Blood</h2>
          <p>We host regular blood donor sessions in partnership with <a href="www.blood.co.uk">NHS Blood &amp Transplant</a>. Giving blood saves lives. The blood you give is a lifeline in an emergency and for people who need long-term treatments. <p>
          <p><a class="btn btn-default" href="nextsession.html" role="button">Our next session &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-lg-4">
          <img class="img-circle" src="img/volunteer.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Volunteer</h2>
          <p>Our blood donor sessions are unlike any other in the country. We are indebted to our community volunteers who enhance our donor sessions by creating a welcoming, family-friendly atmosphere.</p>
          <p><a class="btn btn-default" href="supportus.html" role="button">Find out more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-lg-4">
          <img class="img-circle" src="img/fundraise.jpg" alt="JB Collection Boxes" width="140" height="140">
          <h2>Fundraise</h2>
          <p>Can you hold a bake sale at school? Perhaps you could put a collection box in your work? How about running a 10k? Whether you can raise £1 or £1,000 all money goes directly towards the projects we support.</p>
          <p><a class="btn btn-default" href="contact.html" role="button">Get in touch &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">We've collected 10,000 pints of blood <span class="text-muted">for 30,000 patients.</span></h2>
          <p class="lead">Each blood donation can help save or improve the lives of up to three patients. We have hosted community blood donor sessions three times per year since 1995. <p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="img/feat1.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">We've raised more than £300,000 for hospitals, <span class="text-muted">improving facilities for young patients and their families.</span></h2>
          <p class="lead"> We have completed major projects at Barnet General Hospital, Kings College Hospital and Great Ormond Street. Our aim is to make a child's stay in hospital as comfortable as we can.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="img/featti.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">None of this would be possible<span class="text-muted"> without the kindness of people like you.</span></h2>
          <p class="lead">The success of The Joely Bear Appeal is a credit to the hundreds of volunteers and thousands of donors who have offered their support since 1995. We know that, with your help, the Appeal will continue to touch the lives of many more people looking forward to the future.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="img/feat2.jpg" alt="Generic placehoolder image">
        </div>
      </div>

      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
