body{
	padding-top: 100px;
}

footer{
	padding-top:50px;
}

#nav-logo {
	max-height:80px;
	min-height:80px;
	margin-top:-30px;
	margin-left:0px;

}

#nav-name{
	width:125px;
	height:auto;
	margin-top:-25px;
}


.carousel-caption{
  background-color:rgba(56, 67, 130, 0.8);
  padding-left: 50px;
  padding-right:50px;
}
#navbar {
	box-shadow: 0px -24px 93px 8px #000000;
}
#navbar ul li{
	font-size: 18px;
	font-weight: 500;
}

.social{
	height: 30px;
	margin-top:-5px;
	/*margin-bottom:-15px;*/
}


#navbar .navbar-social li a{
	/*margin-bottom:0px;*/
	padding-bottom:35px;
	/*background-color:blue;*/
}

/* Header image */
#header-image {
	position:relative;
	width:100%;
	height:150px;
	background-image: url(../img/bikeridesupporters.jpeg); background-position: 50% 30%;
	background-size:cover;
	background-repeat:no-repeat;
	box-shadow: inset 0 -50px 80px rgba(0, 0, 0, .8);
	margin-bottom:30px;
}

#header-image h1 {
position:absolute;
bottom:-10px;
/*margin-top:100px;*/
font-size:50px;
color:white;
font-weight:100;

}

.tile-panel{
	background-color:red;
	height:350px;
	background-size: cover;
	margin-top:30px;
	padding:30px;

}

.tile-panel:hover{
	text-decoration: none;
}

a .tile-panel h2 {
	color: white;
	font-size: 55px;
}


@media (min-width: 780px) {
	#header-image {
		height:450px;
		box-shadow: inset 0 -50px 170px rgba(0, 0, 0, .8);
	}
	#header-image h1 {
		font-size: 90px;
		margin-top:350px;
	}

	#nav-logo {
		/*position:relative;*/
		display:block;
		/*max-height:250px;*/
		/*min-height:80px;*/
		margin-top:-30px;
		/*width:100%;*/
		/*background-color: green;*/
		/*margin-left:-1300px;*/

	}
	#nav-name{
		/*display:none;*/
	}

	@media (min-width: 768px) and (max-width: 992px){
		.container{
			width:auto;
		}
	}
}
