---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {{ page.title }} </title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css-custom/carousel.css" rel="stylesheet">
  <link href="css-custom/navbar-fixed-top.css" rel="stylesheet">
  <link href="css-custom/style-custom.css" rel="stylesheet">

  <!-- Open Graph Meta Data -->
  <meta property="og:site_name" content = "The Joely Bear Appeal">
  <meta property="og:image" content = "{{ page.thumbnail }}">
  <meta property="og:title" content = "{{ page.title }}">
  <meta property="og:url" content = "{{ site.url}}{{ page.url }}">
  <meta property="og:description" content="{{ page.description }}">

  <!--Mailchimp-->
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us9.list-manage.com","uuid":"440829a59509635d4bb53ab6e","lid":"e32c129404"}) })</script>

  <!--Google Analytics-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69537732-1', 'auto');
  ga('send', 'pageview');

  </script>

</head>

<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
          <img id="nav-logo" alt ="The Joely Bear Appeal" src="img/bearlogo.png">
        </a>
        <a class="navbar-brand" href="index.html">
          <img id="nav-name" alt="The Joely Bear Appeal" src="img/joelybearappeal.png">
        </a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <!-- <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li class="active"><a href="supportus.html">Support Us</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul> -->


      <ul class = "nav navbar-nav">
        {% assign nav-pages = site.html_pages | sort: 'nav-weight' %}
        {% for p in nav-pages %}
        {% if p.nav-weight %}
        <li {% if p.url == page.url %}class="active"{% endif %}>
          <a href="{{ p.url }}">
            {% if p.nav-title %}
            {{ p.nav-title }}
            {% else %}
            {{ p.title }}
            {% endif %}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>



      <ul class="nav navbar-nav navbar-right navbar-social hidden-xs">

        <!-- Social icons made by [Alessio Atzeni] from www.flaticon.com: -->
        <!-- Link: http://www.flaticon.com/authors/alessio-atzeni -->
        <li>
          <a href="http://www.facebook.com/joelybear" target="_blank">
            <img class="social" src="img/social-fb.svg" alt="F">
          </a>
        </li>
        <li>
          <a href="http://www.twitter.com/joelybearappeal" target="_blank">
            <img class="social" src="img/social-tw.svg" alt="T">
          </a>
        </li>
        <li>
          <a href="http://www.youtube.com/joelybearappeal" target="_blank">
            <img class="social" src="img/social-yt.svg" alt="Y">
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<!-- Header image -->

{{ content }}

<div class = "container">
  <!-- FOOTER -->
  <footer>
    <p class="pull-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; The Joely Bear Appeal (Charity No. 1044917).</p>
    <!-- <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
  </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../js/jquery.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script src="js-custom/js-custom.js"></script>

</body>
</html>
