---
layout: default
---
  {% assign curr_date = site.time | date: "%Y-%m-%d" %}
  {% assign expiry = page.expires | date: "%Y-%m-%d" %}
  {% assign page.expired = curr_date > expiry %}
  {% if page.expired %}
  <div class = "row">
    <div class = "col-md-12">
      <div class = "alert alert-info" style = "margin-top:20px; margin-bottom:0px">
        <span class = "glyphicon glyphicon-info-sign" aria-hiddne="true"></span> This post has been marked as 'archived'. Please be aware that some content may now be out of date.
      </div>
    </div>
  </div>
  {% endif %}
  <div class = "row">
    <div class = "col-md-12">
      <h1>{{ page.title }}</h1>
      <p class = "lead">{{ page.leading-text }}</p>
    </div>
  </div>
  {{ content }}
